.incre-decre-btns{

    &__btn{
        color: $color-green;
        font-size: 3.6rem;
        display: inline-block;
        position: absolute;
        padding: 1.5rem;
        top: 42%;

        &:hover{
            background-color: rgba($color-black, .7);
            cursor: pointer;
        }

        &--decrement{
            left: 0;
        }

        &--increment{
            right: 0;
        }
    }
}